mat-toolbar {
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 14px;
  font-weight: normal;

  &.active {
    font-weight: bold;
  }
}

ul {
  display: flex;
  gap: 16px;

  li {
    list-style: none;
  }
}

main {
  padding: 16px;
}
